body {
  color: black;
  background-color: black; }

.lista_kursantow li {
  padding: 10px;
  background-color: black;
  color: white;
  margin: 5px;
  list-style-type: decimal-leading-zero;
  border: 5px solid white;
  border-radius: 50%;
  text-align: center; }

.technology_know li {
  padding: 10px;
  background-color: black;
  color: white;
  margin: 5px;
  list-style-type: decimal-leading-zero;
  border: 5px solid white;
  border-radius: 50%;
  text-align: center; }
